@*
@{
    ViewData["Title"] = "Student Entry";
    Layout = "~/Areas/Shared/_Layout.cshtml";
}
<form>

    <div class="justify-content-center" id="StudentDiv">
        <div class="form-group">
            <label for="StudentID">ID *</label>
            <input type="text" class="form-control form-control-sm col-3" id="StudentID" data-bind="value:StudentID" placeholder="StudentID">
        </div>
        <div class="form-group">
            <label for="StudentName">Name *</label>
            <input type="text" class="form-control form-control-sm col-3" placeholder="Input Name of Student" data-bind="value: StudentName" id="StudentName">
        </div>
        <div class="form-group">
            <label for="Age">Age *</label>
            <input type="text" class="form-control form-control-sm col-3" placeholder="Input Age of Student" data-bind="value: StudentAge" id="StudentAge">
        </div>
        <div class="form-group">
            <label for="StudentClass">Student Class *</label>
            <input type="text" class="form-control form-control-sm col-3" id="StudentClass"  data-bind="value: StudentClass" placeholder="Input Class of Student">
        </div>
        <div class="form-group">
            <label for="StudentRoll">Student Roll *</label>
            <input type="text" class="form-control form-control-sm col-3" id="StudentRoll" data-bind="value: StudentRoll" placeholder="Input Roll of Student">
        </div>

        <hr class="my-1" />
        <div class="form-group row  mt-2 justify-content-center">
            <div class="form-group row col-3 mt-2">
                <label></label>
                <button class="btn btn-info col-10" id="SaveStudent" data-bind="click: SaveStudent">Save</button>
            </div>
            <div class="form-group row col-3 mt-2">
                <label></label>
                <button class="btn btn-primary col-10" id="UpdateStudent" data-bind="click: UpdateStudent">Update Student</button>
            </div>
             <div class="form-group row col-3 mt-2">
                <label></label>
                <button class="btn btn-primary col-10" id="DeleteStudent" data-bind="click: DeleteStudent">Delete Student</button>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script src="/scripts/Student.js"></script>
    <script src="/scripts/Student2.js"></script>
}



*@

@{
    ViewData["Title"] = "Student Entry";
    Layout = "~/Areas/Shared/_Layout.cshtml";
}
<>

    <div class="justify-content-center" id="StudentDiv">
        <div class="form-group">
            <label for="StudentID">ID *</label>
            <input type="text" class="form-control form-control-sm col-3" id="StudentID" data-bind="value:StudentID" placeholder="StudentID">
        </div>
        <div class="form-group">
            <label for="StudentName">Name *</label>
            <input type="text" class="form-control form-control-sm col-3" placeholder="Input Name of Student" data-bind="value: StudentName" id="StudentName">
        </div>
        <div class="form-group">
            <label for="Age">Age *</label>
            <input type="text" class="form-control form-control-sm col-3" placeholder="Input Age of Student" data-bind="value: StudentAge" id="StudentAge">
        </div>
        <div class="form-group">
            <label for="StudentClass">Student Class *</label>
            <input type="text" class="form-control form-control-sm col-3" id="StudentClass" data-bind="value: StudentClass" placeholder="Input Class of Student">
        </div>
        <div class="form-group">
            <label for="StudentRoll">Student Roll *</label>
            <input type="text" class="form-control form-control-sm col-3" id="StudentRoll" data-bind="value: StudentRoll" placeholder="Input Roll of Student">
        </div>

        <hr class="my-1" />
        <div class="form-group row  mt-2 justify-content-center">
            <div class="form-group row col-3 mt-2">
                <label></label>
                <button class="btn btn-info col-10" id="SaveStudent" data-bind="click: SaveStudent">Save</button>
            </div>
            <div class="form-group row col-3 mt-2">
                <label></label>
                <button class="btn btn-primary col-10" id="UpdateStudent" data-bind="click: UpdateStudent">UpdateStudent</button>
            </div>
            <div class="form-group row col-3 mt-2">
                <label></label>
                <button class="btn btn-secondary col-10" id="DeleteStudent" data-bind="click: DeleteStudent">DeleteStudent</button>
            </div>
        </div>
        <hr class="my-1" />
        <div class="table table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Student Age</th>
                        <th>Student Class</th>
                        <th>Student Roll</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: StudentLists">
                    <tr data-bind="click: GetStudentInformationFromTable">
                        <td data-bind="text: StudentID"></td>
                        <td data-bind="text: StudentName"></td>
                        <td data-bind="text: StudentAge"></td>
                        <td data-bind="text: StudentClass"></td>
                        <td data-bind="text: StudentRoll"></td>
                    </tr>

                <tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                            <input type="text" class="form-control form-control-sm col-3"  disabled placeholder="Input ID of Student" data-bind="value: StudentIDModal" id="StudentIDModal">
                            <input type="text" class="form-control form-control-sm col-3" placeholder="Input Name of Student" data-bind="value: StudentNameModal" id="StudentNameModal">
                            <input type="text" class="form-control form-control-sm col-3" placeholder="Input Age of Student" data-bind="value: StudentAgeModal" id="StudentAgeModal">
                            <input type="text" class="form-control form-control-sm col-3" placeholder="Input Class of Student" data-bind="value: StudentClassModal" id="StudentClassModal">
                            <input type="text" class="form-control form-control-sm col-3" placeholder="Input Roll of Student" data-bind="value: StudentRollModal" id="StudentRollModal">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>


@section Scripts{
<script src="/scripts/Student.js"></script>
}


